/* Universal Default Styles*/
body {
  color: black;
	background: white;
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  margin: 0;
  display: block;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

a {
  transition: 0.2s;
}

a:hover {
  opacity: 0.5;
}

/* Headers styles (nav, top things) */

.nav {
  text-transform: uppercase;
  max-width: 100%;
  height: 50px;
  margin: auto;
  background: rgba(255,255,255,0);
}

nav {
  max-width: 1200px;
  margin: auto;
  font-size: 1em;
  font-weight: bold;
}

.home a {
  padding: 7px;
  float: left;
  filter: drop-shadow(1px 1px 1px black);
  transition: 0.2s;
}

.home a:hover {
  opacity: 1;
  filter: drop-shadow(2px 2px 3px black);
  background-color: white;
}

nav .links {
  color: white;
  float: right;
  transition: 0.2s;
}

nav .links .link-area a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 16px 16px;
  transition: 0.2s;
}

nav .links a.icon {
  display: none;
}

.links a {
  font-weight: 100;
  transition: 0.2s;
}

.links a:hover {
  /* font-size: 2em; */
  opacity: 1;
  font-weight: 500;
  background-color: #198ACC;
  filter: drop-shadow(2px 2px 3px black);
}

main {
  display: block;
  max-width: 100%;
  margin: 0;
}

main p {
  font-size: 18px;
}

.full-width {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

/* footer styles */
footer {
  margin-top: 3em;
}

.footer {
  display: block;
  text-align: center;
  padding: 3em;
  color: white;
  background-color: rgba(0,0,0,0.8);
}

.hero {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.heroFill {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: calc(105vh);
}

.heroAnchor {
  position: absolute;
  bottom: 200px;
  left: 10%;
  text-transform: uppercase;
  color:white;
  font-size: 2em;
  font-weight: 100;
  padding: 1em;
}

.heroAnchor h1 {
  font-weight: 100;
}

.heroAnchor a {
  color: white;
  background-color: #198ACC;
  padding: 5px;
  text-decoration: none;
}

.blue {
  color: #198ACC;
  background-color: white;
  padding: 0 10px;
  font-weight: 800;
}

.clear {
	clear:both;
}

.banner {
  margin: 3em auto;
  max-width: 800px;
}

.banner img {
  width: 100%;
}


.social {
  width: 100%;
  display: inline-block;
  margin: 1em auto;
}

.social a {
  padding: 1em;
}

.social img {
  width: 32px;
  height: 32px;
}

.centered {
  width: 100%;
  margin: 1em auto;
  text-align: center;
}

.squeeze {
  margin: auto;
  max-width: 800px;
}

.ib {
  display: inline-block;
}

.showcase-item {
  position: relative;
  float: left;
  width: 25%;
}

.showcase-item h2 {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 70%;
  /* border-radius: 0 100px 100px 0; */
  background-color: rgba(255,255,255,0.8);
}

.showcase-item a img {
  z-index: -1;
}

.showcase-item > * {
  width: 100%;
}

.team-member {
  display: block;
  height: auto;
  overflow: hidden;
  /*background-color: #e9e9e9;*/
  margin-top: 5em;
  margin-bottom: 5em;
}

.team-member-photo {
  float: left;
  width: 100%;
}

.team-member-photo img {
  width: 100%;
  height: 300px;
  /* border-radius: 15px; */
  object-fit: cover;
}

.team-member-description {
  padding: 0 1em;
  float: left;
  width: calc(100% - 2em);
}

.team-member-description > * {
  width: 100%;
}

.team-member-description img {
  filter: invert(1);
}


.content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 115vh;
}

.button {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 16px 32px;
  /* border-radius: 100px; */
  transition: 0.3s;
}

.faded > * {
  opacity: .3;
}

/*-------------*/
/* Media Rules */
/*-------------*/
@media only screen and (min-width: 1200px) {
  .team-member {
    display: flex;
  }

  .team-member-photo {
    width: 33%;
  }

  .team-member-description {
    width: calc(66% - 2em);
  }

  .swap .team-member .team-member-photo {
    order: 2;
  }

  .swap .team-member .team-member-description {
    order: 1;
  }
}

 /* Mobile + Tablet */
 @media only screen and (max-width: 1159px) {

  .heroAnchor {
    font-size: 1em;
  }

  .squeeze {
    margin: auto 1em;
  }

  .showcase-item {
    width: 50%;
    height: 50%;
  }

  .nav .links .link-area a {
    display:none;
  }
  
  .nav .links a.icon {
    display: block;
    font-size: 30px;
    float: right;
    color: white;
    text-decoration: none;
    padding: 4px 16px;
    transition: 0.2s;
  }

  .nav.open {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
  }

  .nav .links .link-area {
    opacity: 0;
    transition: 0.2s;
  }
  
  .nav.open .links .link-area {
    opacity: 1;
    height: 0;
    z-index: 2;
    display: block;
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
    background-size: cover;
    background-image: url("../media/images/team-1.jpg"); 
    transition: 0.5s;
	}

	.nav.open .links .link-area a {
    font-size: 2em;
    color: white;
    background-color: black;
    opacity: 0.7;
    float: none;
		display: block;
    text-align: center;
    max-width: 250px;
    margin: 10px;
  }

  .nav.open .links .link-area a:hover {
    opacity: 1;
  }
  
  .nav.open a.icon {
    color: #198ACC;
    display:block;
    text-align: right;
  }

  .nav.open a.icon:hover {
    background-color: white;
  }


  .team-member {
    display: flex;
  }

  .team-member-photo {
    width: 33%;
  }

  .team-member-description {
    width: calc(66% - 2em);
  }

  .swap .team-member .team-member-photo {
    order: 2;
  }

  .swap .team-member .team-member-description {
    order: 1;
  }

 }

 
/* Mobile */
@media only screen and (max-width: 600px) {
  .showcase-item {
    width: 100%;
  }

  .team-member {
    display: block;
  }

  .team-member-photo {
    width: 100%;
  }

  .team-member-description {
    width: 100%;
  }
}