include common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('.')
    meta(name='description' content='Current Media')
    title Current Media - Home
  
  body
    header
      +nav('.')

    main
      .squeeze.centered
        h1(style="margin-top: 3em;") Have an Idea?
        a(href='/consultation' )
          .btn.tooltip
            | Free Consultation 
            span.tooltiptext Get a quick quote today!
        br
        br
        br
        br
        a(href='/build-team' ) 
          .btn.tooltip
            | Start Building
            span.tooltiptext Start building your team now!
        .cards
          a(href='/build-team/non-profit')
            // :)
            .square-card(style='background-image: url("./media/icons/non-profit.png");')
              button.info
                i.fa.fa-info
                .info-tooltip
                  .info-tooltip-content
                    .info-tooltip-header Non-profit / Startup
                    .info-tooltip-body Non-profit? blah blah blah blah blah blah!

          a(href='/build-team/individual')
            // :)
            .square-card(style='background-image: url("./media/icons/individual-business.png");')
              button.info
                i.fa.fa-info
                .info-tooltip
                  .info-tooltip-content
                    .info-tooltip-header Individual
                    .info-tooltip-body Individual business? Let us help you get your brand off your feet!
          a(href='/build-team/corporate')
            // :)
            .square-card(style='background-image: url("./media/icons/corporate-commercial.png");')
          a(href='/build-team/live-event') 
            // :)
            .square-card(style='background-image: url("./media/icons/live-events.png");')
        
      +footer('.')