include common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('.')
    script(src='./index.js')
    meta(name='description' content='Current Media')
    title Current Media - Home
  
  body
    header
      +logo('.')
      +nav('.')

    main
      .squeeze.centered
        h1(style="margin-top: 3em;") Have an Idea?
        a(href='./consultation' )
          .btn.tooltip
            | Free Consultation 
            span.tooltiptext Get a quick quote today!
        br
        h1(style="margin-top: 3em;") Build your Team
        a(href='./build-team' ) 
          .btn.tooltip
            | Start Building
            span.tooltiptext Start building your team now!
        .cards
          a(href='./build-team')
            // :)
            .square-card(style='background-image: url("./media/icons/non-profit.png");')
              button.info
                i.fa.fa-info
                .info-tooltip
                  .info-tooltip-content
                    .info-tooltip-header Non-profit
                    .info-tooltip-body Non-Profit Organization? We'd like to help give back, so click here to build your team as a non-profit and we'll contact you about discounted pricing options.
              span.label Non-Profits &amp; Startups
          a(href='./build-team')
            // :)
            .square-card(style='background-image: url("./media/icons/individual-business.png");')
              button.info
                i.fa.fa-info
                .info-tooltip
                  .info-tooltip-content
                    .info-tooltip-header Individual
                    .info-tooltip-body Individual business? Let us help you get your brand off your feet! Choose this option to build a team tailored to your needs &amp; budget.
              span.label Individual Businesses
          a(href='./build-team')
            // :)
            .square-card(style='background-image: url("./media/icons/corporate-commercial.png");')
              span.label Commercial Projects
          a(href='./build-team') 
            // :)
            .square-card(style='background-image: url("./media/icons/live-events.png");')
              span.label Live Events
      +footer('.')