include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    script(src='./contact.js')
    meta(name='description' content='About Current Media')
    title Contact - Current Media
  
  body
    header
      +nav('..')

    main
      .squeeze.centered
        br
        br
        br
        br
        br
        br
        h1 Contact Us
        br
        h3 email
        p.lower info@currentmedia.com
        br
        h3 phone
        p 420-6969
          
      br
      br
      br
    +footer('..')