include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title About - Current Media
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      br
      br
      br
      .squeeze
        .contact-form
          h1 Contact Us
          form
            .text-input
              p Name: 
              input(type="text" name="name")
            .text-input
              p Email: 
              input(type="text" name="email")
            .clear
            p Message: 
            textarea(rows='5' cols='50' name='message')
            br
            br
            button(name='send') Send
          .bg-image
            img(src='../media/images/team-1.jpg')
      br
      br
      br
    +footer('..')