include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title Graphic Design - Current Media
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze
        h1 Graphic Design Services
        p Our graphic design team is small but powerful. 

        br
        br
        br

      .full-width.examples
        img(src='../media/example-work/graphic-design/ex1.jpg')
        img(src='../media/example-work/graphic-design/ex2.jpg')
        img(src='../media/example-work/graphic-design/ex3.jpg')
        img(src='../media/example-work/graphic-design/ex4.jpg')
        img(src='../media/example-work/graphic-design/ex5.jpg')
        img(src='../media/example-work/graphic-design/ex6.jpg')
        img(src='../media/example-work/graphic-design/ex7.jpg')
        img(src='../media/example-work/graphic-design/ex8.jpg')
        img(src='../media/example-work/graphic-design/ex9.jpg')
      
      .clear

      br
      br
      br

      .squeeze

        h2 Graphic Design Team

        .team-member
          .team-member-photo
            img(src='../media/images/david-huynh.jpg')
          .team-member-description
            h2 David Huynh
            em Graphic Designer
            p “All of our dreams can come true, if we have the courage to pursue them” - Walt Disney.
            p A quote I keep in the back of my mind when times get hard. Don’t let your dreams die out.
            .social
              a(href='https://www.instagram.com/davidhuynh__')
                img(src='../media/icons/instagram.png')



    +footer('..')