include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title Graphic Design - Current Media
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze
        h1 Graphic Design Services
        p Our graphic design team is small but powerful. 

        br
        br
        br

      .full-width.examples
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/64749584_443553469773498_8431911422742379558_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=2vVi3xvu9P4AX8ZN6oj&oh=fc6f5acf4cb39543228eebb064d7ab15&oe=5EA86A99')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/e35/79727558_2434240290175466_458585965625225018_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=DTF6cMj_VfsAX8wNeoX&oh=04fd2efbde3b19593237ceb571a4b1e2&oe=5E814EAA')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/69129388_389487761950972_3970282152138045344_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=nzMEJFKkelUAX8jdyBF&oh=36a82ebf2b1def996e55e8b229871d49&oe=5EA68CD2')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/42112228_233319774209931_1354285316351022227_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=iijz5x4CSQgAX_r8SH2&oh=fe31ede5ce5510822651e60a8b2dd834&oe=5EAA0F32')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/43496154_1104727709685608_5240885893275390305_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=NDcbXMpx6VUAX8DaKp2&oh=af60a726f927c0413175529d46f11c5b&oe=5EA916D0')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/41704040_322980031587955_3657962740998690910_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=3wF1LO2zyxoAX-5-WEY&oh=f870b67c07472e30f987d5caeffa68c4&oe=5EA9EDF9')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/19425071_1555596034514810_8871396997341380608_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=IaF0OKBb8eoAX_ZgscS&oh=21fe57899e5c463f89735908a4bcf6c9&oe=5EAA4572')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/18013545_1489936661078600_4511272874207608832_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=_WjRjiShmdYAX9ecTeJ&oh=2df25e17abf3158856616b8bc98df242&oe=5EA9911F')
        img(src='https://instagram.fybz1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/17817950_1807892959529807_3189311236470734848_n.jpg?_nc_ht=instagram.fybz1-1.fna.fbcdn.net&_nc_cat=111&_nc_ohc=wt1KhBrKwHMAX-jqItf&oh=7758c2aa957c7f88be7fa2d6bcf79422&oe=5EAA1F07')
      
      .clear

      br
      br
      br

      .squeeze

        h2 Graphic Design Team

        .team-member
          .team-member-photo
            img(src='../media/images/david-huynh.jpg')
          .team-member-description
            h2 David Huynh
            em Graphic Designer
            p “All of our dreams can come true, if we have the courage to pursue them” - Walt Disney.
            p A quote I keep in the back of my mind when times get hard. Don’t let your dreams die out.
            .social
              a(href='https://www.instagram.com/davidhuynh__')
                img(src='../media/icons/instagram.png')



    +footer('..')