include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title Our Services - Current Media
  
  body
    header
      +nav('..')

    main
      h1 Our Services
      p // ToDo

    +footer('..')