include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title Photography
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze
        h1 Photography Services
        p Our photographers are experts in their craft, and can get you the perfect shot. Whether you need pictures for advertisements, or promotional material for a website or pamphlet, we've got you covered. From professional headshots to high-speed action sports, our photography is always premium quality.

        br
        br
        br

      .full-width.examples
        img(src='../media/example-work/photography/ex1.jpg')
        img(src='../media/example-work/photography/ex2.jpg')
        img(src='../media/example-work/photography/ex3.jpg')
        img(src='../media/example-work/photography/ex4.jpg')
        img(src='../media/example-work/photography/ex5.jpg')
        img(src='../media/example-work/photography/ex6.jpg')

      .clear

      br
      br
      br

      .squeeze

        h2 Photography Team

        .team-member
          .team-member-photo
            img(src='../media/images/taylor-lalonde.jpg')
          .team-member-description
            h2 Taylor Lalonde
            em Freelance Videographer | Production Assistant
            p I put ranch on everything.
            .social
              a(href='https://twitter.com/tayloralalonde')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/shootwithtay')
                img(src='../media/icons/instagram.png')

        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/andrew-mcardle.jpg')
            .team-member-description
              h2 Andrew McArdle
              em Videographer | Photographer | Web Design | Graphics
              p You never know what’s around the next bend...
              .social
                a(href='https://www.linkedin.com/in/andrew-mcardle-9021447a/')
                  img(src='../media/icons/linkedin.png')
                a(href='https://www.instagram.com/cardsyy')
                  img(src='../media/icons/instagram.png')



    +footer('..')