include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title Video Production - Current Media
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze
        h1 Video Production Services
        p Professional cinematography at your fingertips. Current media specializes in video production at its core, it is our bread and butter. This is our wheelhouse. Our work speaks for itself.

        br
        br
        br
      
      .full-width.examples
        .example
          h3 Erb Transport
          video(poster='../media/videos/posters/erb.png' controls)
            source(src='../media/videos/erb-transport/Erb%20Excellence.mp4' type='video/mp4')
            source(src='https://evanfinnigan.com/videos/erb-transport/Erb%20Excellence.mp4' type='video/mp4')
        .example
          h3 Lakewood Landscaping
          video(poster='../media/videos/posters/lakewood.png' controls)
            source(src='../media/videos/lakewood-garden-centre/Lakewood%20Landscaping%20Promo.mp4' type='video/mp4')
            source(src='https://evanfinnigan.com/videos/lakewood-garden-centre/Lakewood%20Landscaping%20Promo.mp4' type='video/mp4')
        .example
          h3 Middlesex Centre
          video(poster='../media/videos/posters/middlesex-centre.png' controls)
            source(src='../media/videos/middlesex-center/Green%20Light_V5.mp4' type='video/mp4')
            source(src='https://evanfinnigan.com/videos/middlesex-center/Green%20Light_V5.mp4' type='video/mp4')

      .clear

      br
      br
      br

      .squeeze
        h2 Video production team

        .team-member
          .team-member-photo
            img(src='../media/images/brayden-wagenaar.jpg')
          .team-member-description
            h2 Brayden Wagenaar
            em Creative Director
            p I have tried it all, from starting out with cinematography and working behind the camera, to moving in front of it with various short films and local news segments. 
            .social
              a(href='https://www.linkedin.com/in/braydenw/')
                img(src='../media/icons/linkedin.png')
              a(href='https://twitter.com/braydenwagenaar')
                img(src='../media/icons/twitter.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/jaden-goetz.jpg')
            .team-member-description
              h2 Jaden Goetz
              em Actor | Writer | Producer | Model
              p My passion is storytelling. All facets of it; acting, writing, producing, directing. I love to entertain and evoke emotion in my audience. To make someone feel, is to reveal what is most human about us. 
              .social
                a(href='https://www.linkedin.com/in/jaden-goetz-020673b1')
                  img(src='../media/icons/linkedin.png')
                a(href='https://twitter.com/jadengoetz')
                  img(src='../media/icons/twitter.png')
                a(href='https://www.instagram.com/jadenzgoetz')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/melissa-schenk.jpg')
          .team-member-description
            h2 Melissa Schenk
            em Video &amp; Digital Marketing Consultant / Producer
            p Melissa is a producer of outstanding quality. Described by many as energetic, creative, and a leader in her field – Melissa wears many exciting hats as a Business Consultant, TV Personality, Producer, Entrepreneur, Speaker, Shopping Channel Spokesperson, and Author.
            .social
              a(href='https://www.facebook.com/MelissaSchenkMS2/')
                img(src='../media/icons/facebook.png')
              a(href='https://twitter.com/ms2live')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/ms2live/')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/andrew-dougherty.jpg')
            .team-member-description
              h2 Andrew Dougherty
              em Videographer
              p  I am dedicated to creatively producing and editing video that tells a story and resonates with audiences. My experience working on field productions as well as in studio guarantees flexibility and adaptability in a fast-paced environment. 
              .social
                a(href='https://www.linkedin.com/in/andrew-dougherty-735b35102/')
                  img(src='../media/icons/linkedin.png')
        .team-member
          .team-member-photo
            img(src='../media/images/michael-malko.jpg')
          .team-member-description
            h2 Michael Malko
            em Cinematographer
            p Freelance Cinematographer. Always looking to collaborate! Hit me up and lets work together.
            .social
              a(href='https://twitter.com/michaelmalko')
                img(src='../media/icons/twitter.png')
              a(href='https://vimeo.com/user3601406')
                img(src='../media/icons/vimeo.png')

        



    +footer('..')