include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title Web Design - Current Media
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze
        h1 Web Design
        p Modern businesses need an online presence. Our software and web design services can help build and maintain a website to help you inform customers and bring in sales.

        br
        br
        br

      .full-width.examples
        // put examples here

      .clear

      br
      br
      br

      .squeeze
        h2 Software &amp; Web Specialists

        .team-member
          .team-member-photo
            img(src='../media/images/evanfinnigan.png')
          .team-member-description
            h2 Evan Finnigan
            em Software Developer | Web Design 
            p Interested in thoughtful design, digital accessibility, programming, game development, and principles of software development.
            .social
              a(href='https://github.com/evanfinnigan')
                img(src='../media/icons/github.png')
              a(href='https://www.linkedin.com/in/evanfinnigan/')
                img(src='../media/icons/linkedin.png')
              a(href='https://twitter.com/EvanFinnigan')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/evanfinnigan/')
                img(src='../media/icons/instagram.png')

        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/stephen-dueck.jpg')
            .team-member-description
              h2 Stephen Dueck
              em Backend Software Developer | Philosopher of Ethics
              p "Would it be morally wrong...?"

    +footer('..')