include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    meta(name='description' content='About Current Media')
    title About - Current Media
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze
        h1 Who We Are
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus tortor, dapibus vel interdum vitae, pretium non ipsum. Nullam ac interdum dolor. Aenean vitae bibendum sapien. Proin in ultrices velit, non dictum tortor. Aenean tempor velit non ultrices consectetur. Pellentesque pulvinar vel ligula id tempor. Nunc vitae iaculis neque, quis ornare lacus.

        br
        br

        h2 Our Team

      .squeeze
        .team-member
          .team-member-photo
            img(src='../media/images/team-1.jpg')
          .team-member-description
            h2 Brady B
            em Professional title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus tortor, dapibus vel interdum vitae, pretium non ipsum. Nullam ac interdum dolor. Aenean vitae bibendum sapien. 
            .social
              a(href='')
                img(src='../media/icons/facebook.png')
              a(href='')
                img(src='../media/icons/twitter.png')
              a(href='')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/team-2.jpg')
            .team-member-description
              h2 J-Den
              em Professional title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus tortor, dapibus vel interdum vitae, pretium non ipsum. Nullam ac interdum dolor. Aenean vitae bibendum sapien. Proin in ultrices velit, non dictum tortor. Aenean tempor velit non ultrices consectetur.
              .social
                a(href='')
                  img(src='../media/icons/facebook.png')
                a(href='')
                  img(src='../media/icons/twitter.png')
                a(href='')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/team-5.jpg')
          .team-member-description
            h2 Dave
            em Professional title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus tortor, dapibus vel interdum vitae, pretium non ipsum. Nullam ac interdum dolor. Aenean vitae bibendum sapien. Proin in ultrices velit, non dictum tortor. Aenean tempor velit non ultrices consectetur.
            .social
              a(href='')
                img(src='../media/icons/facebook.png')
              a(href='')
                img(src='../media/icons/twitter.png')
              a(href='')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/team-4.jpg')
            .team-member-description
              h2 Name
              em Professional title
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus tortor, dapibus vel interdum vitae, pretium non ipsum. Nullam ac interdum dolor. Aenean vitae bibendum sapien. Proin in ultrices velit, non dictum tortor. Aenean tempor velit non ultrices consectetur.
              .social
                a(href='')
                  img(src='../media/icons/facebook.png')
                a(href='')
                  img(src='../media/icons/twitter.png')
                a(href='')
                  img(src='../media/icons/instagram.png')
        .clear

    +footer('..')