include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    script(src='./our-team.js')
    meta(name='description' content='About Current Media')
    title Our Team - Current Media
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze.left
        
        h1 Who We Are
        p Current Media is a collection of artists, producers, writers, photographers, and other media talent. Together we form a full fledged media production solution for all of your business needs.

        br
        br

        h2 Our Team

        .team-member
          .team-member-photo
            img(src='../media/images/brayden-wagenaar.jpg')
          .team-member-description
            h2 Brayden Wagenaar
            em Lead Producer, Drone Pilot/Trainer and Social Strategist
            p Passion drives everything I do.  
            .social
              a(href='https://www.linkedin.com/in/braydenw/')
                img(src='../media/icons/linkedin.png')
              a(href='https://twitter.com/braydenwagenaar')
                img(src='../media/icons/twitter.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/jaden-goetz.jpg')
            .team-member-description
              h2 Jaden Goetz
              em Creative Director, Professional Videographer
              p My passion is storytelling. All facets of it; shooting, directing, writing, producing. Having the opportunity to work with driven people and help share their stories makes me one lucky guy. 
              .social
                a(href='https://www.linkedin.com/in/jaden-goetz-020673b1')
                  img(src='../media/icons/linkedin.png')
                a(href='https://twitter.com/jadengoetz')
                  img(src='../media/icons/twitter.png')
                a(href='https://www.instagram.com/jadenzgoetz')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/andrew-mcardle.jpg')
          .team-member-description
            h2 Andrew McArdle
            em Creative Lead, Professional Videographer/Photographer
            p You never know what’s around the next bend...
            .social
              a(href='https://www.linkedin.com/in/andrew-mcardle-9021447a/')
                img(src='../media/icons/linkedin.png')
              a(href='https://www.instagram.com/cardsyy')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/david-huynh.jpg')
            .team-member-description
              h2 David Huynh
              em Graphic Designer
              p “All of our dreams can come true, if we have the courage to pursue them” - Walt Disney.
              p A quote I keep in the back of my mind when times get hard. Don’t let your dreams die out.
              .social
                a(href='https://www.instagram.com/davidhuynh__')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/taylor-lalonde.jpg')
          .team-member-description
            h2 Taylor Lalonde
            em Professional Videographer/Photographer and Social Strategist 
            p I put ranch on everything.
            .social
              a(href='https://twitter.com/tayloralalonde')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/shootwithtay')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/melissa-schenk.jpg')
            .team-member-description
              h2 Melissa Schenk
              em Partner at MS2 Productions, Producer and Lead Marketing and Social Strategist
              p Melissa is a producer of outstanding quality. Described by many as energetic, creative, and a leader in her field – Melissa wears many exciting hats as a Business Consultant, TV Personality, Producer, Entrepreneur, Speaker, Shopping Channel Spokesperson, and Author.
              .social
                a(href='https://www.facebook.com/MelissaSchenkMS2/')
                  img(src='../media/icons/facebook.png')
                a(href='https://twitter.com/ms2live')
                  img(src='../media/icons/twitter.png')
                a(href='https://www.instagram.com/ms2live/')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/andrew-dougherty.jpg')
          .team-member-description
            h2 Andrew Dougherty
            em Professional Videographer/Photographer and Editor
            p  I am dedicated to creatively producing and editing video that tells a story and resonates with audiences. My experience working on field productions as well as in studio guarantees flexibility and adaptability in a fast-paced environment. 
            .social
              a(href='https://www.linkedin.com/in/andrew-dougherty-735b35102/')
                img(src='../media/icons/linkedin.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/michael-malko.jpg')
            .team-member-description
              h2 Michael Malko
              em Director of Photography and Professional Cinematographer 
              p Freelance Cinematographer. Always looking to collaborate! Hit me up and lets work together.
              .social
                a(href='https://twitter.com/michaelmalko')
                  img(src='../media/icons/twitter.png')
                a(href='https://vimeo.com/user3601406')
                  img(src='../media/icons/vimeo.png')
        .team-member
          .team-member-photo
            img(src='../media/images/evanfinnigan.png')
          .team-member-description
            h2 Evan Finnigan
            em Lead Web Developer
            p Interested in thoughtful design, digital accessibility, programming, game development, and principles of software development.
            .social
              a(href='https://github.com/evanfinnigan')
                img(src='../media/icons/github.png')
              a(href='https://www.linkedin.com/in/evanfinnigan/')
                img(src='../media/icons/linkedin.png')
              a(href='https://twitter.com/EvanFinnigan')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/evanfinnigan/')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/stephen-dueck.jpg')
            .team-member-description
              h2 Stephen Dueck
              em Lead Back End and Systems Developer
              p "Would it be morally wrong...?"
        .team-member
          .team-member-photo
            img(src='https://api.adorable.io/avatars/285/sam.png')
          .team-member-description
            h2 Sam
            em Lead Editor and Animator
            p I love animating and editing!
            .social
              a(href='https://api.adorable.io/avatars/285/sam.png')
                img(src='../media/icons/linkedin.png')
        

        .clear

    +footer('..')