include ../common/mixins.pug
doctype html
html(lang='en')
  head
    +meta('..')
    script(src='./our-team.js')
    meta(name='description' content='About Current Media')
    title Our Team - Current Media
  
  body
    header
      +nav('..')

    main
      br
      br
      br
      .squeeze.left
        
        h1 Who We Are
        p Current Media is a collection of artists, producers, writers, photographers, and other media talent. Together we form a full fledged media production solution for all of your business needs.

        br
        br

        h2 Our Team

        .team-member
          .team-member-photo
            img(src='../media/images/brayden-wagenaar.jpg')
          .team-member-description
            h2 Brayden Wagenaar
            em Creative Director
            p I have tried it all, from starting out with cinematography and working behind the camera, to moving in front of it with various short films and local news segments. 
            .social
              a(href='https://www.linkedin.com/in/braydenw/')
                img(src='../media/icons/linkedin.png')
              a(href='https://twitter.com/braydenwagenaar')
                img(src='../media/icons/twitter.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/jaden-goetz.jpg')
            .team-member-description
              h2 Jaden Goetz
              em Actor | Writer | Producer | Model
              p My passion is storytelling. All facets of it; acting, writing, producing, directing. I love to entertain and evoke emotion in my audience. To make someone feel, is to reveal what is most human about us. 
              .social
                a(href='https://www.linkedin.com/in/jaden-goetz-020673b1')
                  img(src='../media/icons/linkedin.png')
                a(href='https://twitter.com/jadengoetz')
                  img(src='../media/icons/twitter.png')
                a(href='https://www.instagram.com/jadenzgoetz')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/andrew-mcardle.jpg')
          .team-member-description
            h2 Andrew McArdle
            em Videographer | Photographer | Web Design | Graphics
            p You never know what’s around the next bend...
            .social
              a(href='https://www.linkedin.com/in/andrew-mcardle-9021447a/')
                img(src='../media/icons/linkedin.png')
              a(href='https://www.instagram.com/cardsyy')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/david-huynh.jpg')
            .team-member-description
              h2 David Huynh
              em Graphic Designer
              p “All of our dreams can come true, if we have the courage to pursue them” - Walt Disney.
              p A quote I keep in the back of my mind when times get hard. Don’t let your dreams die out.
              .social
                a(href='https://www.instagram.com/davidhuynh__')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/taylor-lalonde.jpg')
          .team-member-description
            h2 Taylor Lalonde
            em Freelance Videographer | Production Assistant
            p I put ranch on everything.
            .social
              a(href='https://twitter.com/tayloralalonde')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/shootwithtay')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/melissa-schenk.jpg')
            .team-member-description
              h2 Melissa Schenk
              em Video &amp; Digital Marketing Consultant / Producer
              p Melissa is a producer of outstanding quality. Described by many as energetic, creative, and a leader in her field – Melissa wears many exciting hats as a Business Consultant, TV Personality, Producer, Entrepreneur, Speaker, Shopping Channel Spokesperson, and Author.
              .social
                a(href='https://www.facebook.com/MelissaSchenkMS2/')
                  img(src='../media/icons/facebook.png')
                a(href='https://twitter.com/ms2live')
                  img(src='../media/icons/twitter.png')
                a(href='https://www.instagram.com/ms2live/')
                  img(src='../media/icons/instagram.png')
        .team-member
          .team-member-photo
            img(src='../media/images/andrew-dougherty.jpg')
          .team-member-description
            h2 Andrew Dougherty
            em Videographer
            p  I am dedicated to creatively producing and editing video that tells a story and resonates with audiences. My experience working on field productions as well as in studio guarantees flexibility and adaptability in a fast-paced environment. 
            .social
              a(href='https://www.linkedin.com/in/andrew-dougherty-735b35102/')
                img(src='../media/icons/linkedin.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/michael-malko.jpg')
            .team-member-description
              h2 Michael Malko
              em Cinematographer
              p Freelance Cinematographer. Always looking to collaborate! Hit me up and lets work together.
              .social
                a(href='https://twitter.com/michaelmalko')
                  img(src='../media/icons/twitter.png')
                a(href='https://vimeo.com/user3601406')
                  img(src='../media/icons/vimeo.png')
        .team-member
          .team-member-photo
            img(src='../media/images/evanfinnigan.png')
          .team-member-description
            h2 Evan Finnigan
            em Software Developer | Web Design 
            p Interested in thoughtful design, digital accessibility, programming, game development, and principles of software development.
            .social
              a(href='https://github.com/evanfinnigan')
                img(src='../media/icons/github.png')
              a(href='https://www.linkedin.com/in/evanfinnigan/')
                img(src='../media/icons/linkedin.png')
              a(href='https://twitter.com/EvanFinnigan')
                img(src='../media/icons/twitter.png')
              a(href='https://www.instagram.com/evanfinnigan/')
                img(src='../media/icons/instagram.png')
        .swap
          .team-member
            .team-member-photo
              img(src='../media/images/stephen-dueck.jpg')
            .team-member-description
              h2 Stephen Dueck
              em Backend Software Developer | Philosopher of Ethics
              p "Would it be morally wrong...?"
        .team-member
          .team-member-photo
            img(src='../media/images/troy-loop.jpg')
          .team-member-description
            h2 Troy Loop
            em Marketing
            p Experienced marketing professional.
            .social
              a(href='https://www.linkedin.com/in/troy-loop-8612a081/')
                img(src='../media/icons/linkedin.png')
        

        .clear

    +footer('..')