footer
  .footer
    .social
      a(href='')
        img(src='media/icons/facebook.png')
      a(href='')
        img(src='media/icons/twitter.png')
      a(href='')
        img(src='media/icons/instagram.png')
    .social
      p Ⓒ Current Media 2020